# Python
__pycache__

# Pypi
build
dist
*.egg-info
pip-wheel-metadata

# PyTest
.pytest_cache
pytest.xml

# MyPy
.mypy_cache

# Coverage
.coverage
coverage.xml
htmlcov

# Poetry
.venv

# IDE
.vscode
.idea

# MacOS
.DS_Store
.localized
*~
