# Python
__pycache__

# Pypi
build
dist
*.egg-info
pip-wheel-metadata

# PyTest
.pytest_cache
pytest.xml
.pytest_results

# Ruff
.ruff_cache

# MyPy
.mypy_cache

# Coverage
.coverage
coverage.xml
htmlcov

# Poetry
.venv

# IDE
.vscode

# MacOS
.DS_Store
.localized
*~
