[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7.6"

[pipenv]
allow_prereleases = true

[packages]

[dev-packages]
# Symlink to project root
terraform_client = {editable = true, path = "."}
# Format
black = "*"
isort = "*"
# Linter
pydocstyle = "*"
flake8 = "*"
mypy = "*"
# Testing
pytest = "*"
pytest-mock = "*"
# Debugging
ipdb = "*"
ipython = "*"
